.slider {
    position: relative;
  }
  
  .slider-item {
    position: relative;
    height: calc(100vh - 137px);
    display: flex;
    align-items: center;
  }
  
  .slider-item .slider-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: 60%;
    z-index: -1;
  }
  
  .slider-item .slider-title {
    font-size: 18px;
    font-weight: 500;
  }
  
  .slider-item .slider-heading {
    font-size: 60px;
    font-weight: 600;
  }
  
  .slider-item a {
    position: relative;
    z-index: 1;
  }
  
  .slider .slider-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  
  .slider-buttons button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #dee0ea;
    background-color: white;
    opacity: 0.5;
    transition: 0.2s ease all;
  }
  
  .slider-buttons button:hover {
    background-color: #1367ef;
    opacity: 1;
    color: #fff;
    border-color: #1367ef;
  }
  
  .slider-buttons button i {
    font-size: 30px;
  }
  
  .slider .slider-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
  }
  
  .slider .slider-dots .slider-dot {
    border: none;
    display: flex;
    opacity: 0.4;
    transition: 0.2s ease opacity;
  }
  
  .slider .slider-dots .slider-dot:hover {
    opacity: 1;
  }
  
  .slider .slider-dots .slider-dot span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #1367ef;
    border-radius: 100%;
  }
  
  .slider .slider-dots .slider-dot.active {
    opacity: 1;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    .slider-item {
      height: calc(100vh - 155px);
    }
  
    .slider-buttons {
      display: none !important;
    }
  }
  