.single-product .product-gallery {
    width: 50%;
    padding-right: 15px;
  }
  
  .single-product .single-image-wrapper {
    overflow: hidden;
    display: flex;
  }
  
  .single-product .single-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
  }
  
  .single-product .single-image-wrapper img:hover {
    cursor: zoom-in;
  }
  
  .single-product .gallery-thumbs {
    /*   display: flex;
    column-gap: 10px; */
  }
  
  .single-product .gallery-thumbs li {
    cursor: pointer;
    display: flex;
  }
  
  .single-product .gallery-thumbs li img {
    border: 1px solid transparent;
  }
  
  .single-product .gallery-thumbs li img.active {
    border-color: #000;
  }
  
  .single-product .gallery-thumbs li img:hover {
    border-color: #000;
  }
  
  .single-product .product-thumb {
    position: relative;
    margin-top: 7px;
  }
  
  .single-product .glide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 25px;
  }
  
  .single-product .glide__arrow--left {
    left: 0;
  }
  
  .single-product .glide__arrow--right {
    right: 0;
  }
  

  /* .gallery-thumbs{
    display: flex;
  }

  .gallery-thumbs img{
    width: 100px;
  } */