.products .product-item {
    text-align: center;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    position: relative;
    /* flex: 1; */
  }
  
  .products .product-item .product-image {
    width: 100%;
    height: 100%;
  }
  
  .products .product-item img {
    width: 100%;
    transition: 0.3s ease-in-out all;
  }
  
  .products .product-item .img1:hover {
    visibility: hidden;
    opacity: 0;
  }
  
  .products .product-item .product-image:hover .img2 {
    visibility: visible;
    opacity: 1;
  }
  
  .products .product-item .img2 {
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .products .product-item .product-title {
    font-size: 14px;
    display: inline-block;
    font-weight: 600;
    margin-top: 15px;
  }
  
  .products .product-item .product-star {
    display: flex;
    justify-content: center;
    margin: 8px 0;
    column-gap: 2px;
  }
  
  .products .product-item .product-star i {
    font-size: 12px;
    color: gold;
  }
  
  .product-item .product-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding-bottom: 15px;
  }
  
  .product-item .product-prices strong {
    color: #ff3c20;
    font-weight: 500;
  }
  
  .product-item .product-prices span {
    color: #7d7d7d;
    font-size: 12px;
    text-decoration: line-through;
  }
  
  .product-item .product-discount {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ff3c20;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    font-weight: 500;
  }
  
  .product-item .product-links {
    display: inline-flex;
    flex-direction: column;
    row-gap: 8px;
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-out all;
    overflow: hidden;
  }
  
  .products .product-item:hover .product-links {
    transform: translate(15px);
    opacity: 1;
    visibility: visible;
  }
  
  .product-item .product-links button,
  .product-item .product-links a {
    background-color: #000;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    transition: all ease 0.3s;
  }
  
  .product-item .product-links button:hover,
  .product-item .product-links a:hover {
    opacity: 0.7;
  }
  
  .product-item .product-links i {
    color: #fff;
    font-size: 14px;
    display: flex;
    pointer-events: none;
  }
  
  .product-wrapper {
    position: relative;
  }
  
  .product-wrapper .glide__arrow {
    position: absolute;
    top: 50%;
    background-color: transparent;
  }
  
  .product-wrapper .glide__arrow--left {
    left: -40px;
  }
  
  .product-wrapper .glide__arrow--right {
    right: -40px;
  }
  
  .product-wrapper .glide__arrow i {
    font-size: 40px;
  }
  
  @media (max-width: 576px) {
    .product-wrapper .glide__arrow--left {
      left: 0px;
    }
  
    .product-wrapper .glide__arrow--right {
      right: 0px;
    }
  }
  