.modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.3s ease all;
    visibility: hidden;
    opacity: 0;
  }
  
  .modal-dialog.show {
    visibility: visible !important;
    opacity: 1;
  }
  
  .modal-dialog .modal-content {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  
  .modal-dialog .modal-content .modal-close {
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: transparent;
    font-size: 40px;
  }
  
  .modal-dialog .modal-content .modal-image {
    display: flex;
  }
  
  .modal-dialog .modal-content .popup-wrapper {
    padding: 30px;
    text-align: center;
  }
  
  .modal-dialog .modal-content .popup-title h3 {
    font-size: 30px;
    font-weight: 500;
  }
  
  .modal-dialog .modal-content .popup-text {
    font-size: 14px;
    color: #7a7a7a;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .modal-dialog .modal-content .popup-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 40px;
  }
  
  .modal-dialog .modal-content .popup-form label {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-size: 14px;
  }
  
  @media (max-width: 576px) {
    .modal-dialog .modal-content {
      max-width: 350px;
    }
  
    .modal-dialog .modal-content .modal-close {
      top: 0px;
      right: 0px;
      font-size: 30px;
    }
  
    .modal-dialog .modal-content .modal-image {
      display: none;
    }
  }
  