.single-product .breadcrumb ul {
    display: flex;
  }
  
  .single-product .breadcrumb ul li {
    font-size: 12px;
  }
  
  .single-product .breadcrumb ul li:not(:last-child):after {
    content: "/";
    color: #dee0ea;
    margin: 0 5px;
  }
  
  .single-product .breadcrumb ul li a:hover {
    color: #000;
    text-decoration: underline;
  }
  